<div class="max-w-md">
    <div class="text-5xl font-bold my-4">
        {{ section.settings.title }}
    </div>
    <div class="my-4">
        <p class="text-base md:text-xl leading-normal">
            {{ section.settings.subtext_title }}
        </p>
    </div>

    <div class="my-4">
        {% if  section.settings.button_url == blank%}
            {% assign shop_url = shop.secure_url %}
        {%- else -%}
            {% assign shop_url = section.settings.button_url %}
        {% endif %}
        <a href="{{ shop_url }}" class="px-4 incline py-2 text-base font-medium shadow bg-green-600 hover:bg-green-800 text-white">{{ section.settings.button_label }}</a>
    </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex flex-col items-center justify-center text-center py-7 h-screen",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "404 Heading Title",
            "default": "404"
        },
        {
            "type": "text",
            "id": "subtext_title",
            "label": "404 Subtext Title",
            "default": "De pagina die u zoekt, bestaat helaas niet."
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Back to homepage"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        }
    ]
  }
{% endschema %}